.btn {
    background-color: #9F3434;
    padding-left: 20px; 
    padding-right: 20px; 
    margin-right: 0px;
    font-size: 20px;
    font-weight: 500;
    color: white; 
    padding-bottom: 17px;
    box-shadow: 5px 5px 3px black;    
    display: inline-block;       
    border-radius: 15px;  
}
.btn:hover { 
    background-color: #6e1313;
}

.btn1 {
    background-color: #F2D1B5;
    padding-left: 20px; 
    padding-right: 20px; 
    margin-right: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #9F3434; 
    padding-bottom: 17px;
    text-shadow: 1px 1px 4px black;   
    box-shadow: 5px 5px 3px black;
    border-radius: 15px;          
}
.btn1:hover { 
    background-color: #FFC89A;
}
