.skills {
    background-color: #3A4042;
    height: 750px;
    padding: 0 240px;
    border-bottom: 10px #9F3434 solid;
}

.container {
    display: flex;
    justify-content: center;    
}

.container-a {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.container-b {
    display: flex;
    flex-direction: column;
}


.img1 {
    height: 90px;
    width: 430px;
    margin-bottom: 40px;
}